{% extends 'base_generic.html' %}
{% block content %}
  <h2>Заказы</h2>
  <div class="container">
    <div class="row">
      {% for order in orders %}
        <div class="col-md-4 mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ order.details }}</h5>
              {% if user.role == 'manager' %}
              <form method="post" action="{% url 'view_orders' %}">
                {% csrf_token %}
                <input type="hidden" name="order_id" value="{{ order.id }}">
                  <div class="form-group">
                    <label for="payment_status_{{ order.id }}">Статус оплаты:</label>
                    <select name="payment_status" id="payment_status_{{ order.id }}" class="form-control">
                      <option value="Принят"{% if order.payment_status == 'Принят' %} selected{% endif %}>Принят</option>
                      <option value="Оплачен"{% if order.payment_status == 'Оплачен' %} selected{% endif %}>Оплачен</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="status_{{ order.id }}">Статус заказа:</label>
                    <select name="status" id="status_{{ order.id }}" class="form-control">
                      <option value="В процессе"{% if order.status == 'В процессе' %} selected{% endif %}>В процессе</option>
                      <option value="Готов"{% if order.status == 'Готов' %} selected{% endif %}>Готов</option>
                    </select>
                  </div>
                  <button type="submit" class="btn btn-primary">Обновить</button>
                </form>
              {% elif user.role == 'сотрудник_обслуживания_номеров' %}
              <form method="post" action="{% url 'view_orders' %}">
                {% csrf_token %}
                <input type="hidden" name="order_id" value="{{ order.id }}">
                <div class="form-group">
                  <label for="payment_status_{{ order.id }}">Статус оплаты:</label>
                  <select name="payment_status" id="payment_status_{{ order.id }}" class="form-control">
                    <option value="Принят"{% if order.payment_status == 'Принят' %} selected{% endif %}>Принят</option>
                    <option value="Оплачен"{% if order.payment_status == 'Оплачен' %} selected{% endif %}>Оплачен</option>
                  </select>
                </div>
                <button type="submit" class="btn btn-primary">Обновить</button>
              </form>
              {% elif user.role == 'сотрудник_предоставления_услуг' %}
              <form method="post" action="{% url 'view_orders' %}">
                {% csrf_token %}
                <input type="hidden" name="order_id" value="{{ order.id }}">
              <div class="form-group">
                <label for="status_{{ order.id }}">Статус заказа:</label>
                <select name="status" id="status_{{ order.id }}" class="form-control">
                  <option value="В процессе"{% if order.status == 'В процессе' %} selected{% endif %}>В процессе</option>
                  <option value="Готов"{% if order.status == 'Готов' %} selected{% endif %}>Готов</option>
                </select>
              </div>
              <button type="submit" class="btn btn-primary">Обновить</button>
            </form>
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
